.fan-header {
    flex            : 0 0 65px;
    color           : #fff;
    font-size       : 18px;
    box-shadow      : 0 1px 10px rgba(0, 0, 0, .2);
    background-color: #1890ff;
    z-index         : 15;
}

.fan-header-icon {
    display        : flex;
    flex-flow      : row wrap;
    justify-content: center;
    align-items    : center;
    flex           : 0 0 50px;
    height         : 35px;
    color          : #FFF;
    border-radius  : 2px;
    transition     : all .2s ease-in-out;
}

.fan-header-icon:hover {
    background-color: #ffffff33;
}

.fan-header-u {
    max-width    : 60px;
    overflow     : hidden;
    text-overflow: ellipsis;
    overflow     : hidden;
    white-space  : nowrap;
}