<sys-lock></sys-lock>
<div class="flex-column mx-start sx-stretch" >
    <div class="flex-row mx-start sx-center fan-header">
        <!-- logo TODO-->
        <a *ngIf="bodyW >= 280" class="fan-header-logo"></a>

        <!-- menu -->
        <a class="fan-header-icon" (click)="doMenu()"><i nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
                nzTheme="outline"></i></a>

        <!-- fullscreen -->
        <a class="fan-header-icon" (click)="doZoom()"><i nz-icon
                [nzType]="isFullscreen ? 'fullscreen-exit' : 'fullscreen'" nzTheme="outline"></i></a>

        <!-- lock -->
        <a class="fan-header-icon" (click)="doLock()"><i nz-icon [nzType]="isLock ? 'lock' : 'unlock'"
                nzTheme="outline"></i></a>
        <a style="flex:1 1 auto;"><i nz-icon nzType="" nzTheme="outline"></i></a>

        <!-- bell -->
        <a class="fan-header-icon" (click)="doHeaderIcon()"><i nz-icon nzType="bell" nzTheme="outline"></i></a>

        <!-- tag -->
        <a *ngIf="bodyW >= 767" class="fan-header-icon" (click)="doHeaderIcon()"><i nz-icon nzType="tag"
                nzTheme="outline"></i></a>

        <!-- transaction -->
        <a *ngIf="bodyW >= 767" class="fan-header-icon" (click)="doHeaderIcon()"><i nz-icon nzType="transaction"
                nzTheme="outline"></i></a>

        <!-- github -->
        <a *ngIf="bodyW >= 767" class="fan-header-icon" href="//github.com/CloudViewer/Blog-QuickLearn"><i nz-icon
                nzType="github" nzTheme="outline"></i></a>

        <!-- user -->
        <div *ngIf="bodyW >= 767" class="fan-header-icon" style="flex:0 0 120px;margin-right: 10px;">
            <img class="fan-header-u-img" src="assets/header/user-h-img.jpg" alt="头像" />
            <div class="fan-header-u">Admin</div>
        </div>
    </div>
</div>